In [1]:
import pandas as pd
import folium as fl
import matplotlib.pyplot as plt

In [7]:
m = fl.Map(location=[35.9375, 14.3754]
          ,tiles = 'stamentoner')
for i, r in base_df.iterrows():
    fl.Circle(
    radius=5,
    location=[r['LATITUDE'], r['LONGITUDE']],
    popup=r["TYPE"],
    color="CRIMSON",
    fill=True,
    ).add_to(m)
for i, r in towers.iterrows():
    fl.Circle(
    radius=50,
    location=[r['Latitude'], r['Longitude']],
    popup=r["SITE_NAME"],
    color="darkblue",
    fill=True,
    ).add_to(m)

In [11]:
m.save("NFRmonochrome.HTML")

In [32]:
base_df = pd.read_csv('NFR2023.csv')
towers = pd.read_csv('RadioSites.csv')
towers

     Name              SITE_NAME  Longitude   Latitude
0       1               Valletta  14.514444  35.898739
1       2               Gharghur  14.452118  35.927941
2       3             St_Vincent  14.484590  35.867019
3       4           Birkirkara_1  14.472428  35.893422
4       5                 Mtarfa  14.400617  35.894761
..    ...                    ...        ...        ...
450   824            SR_Technics  14.466980  35.854773
451   832      University_MATLAB  14.484611  35.903028
452   836  Imperial_Elderly_Home  14.501371  35.912097
453   840      St_Vincent_Indoor  14.481322  35.868189
454   844           Tain_Betting  14.460399  35.892629

[455 rows x 4 columns]

In [33]:
m2 = fl.Map(location=[35.9375, 14.3754])
for i, r in base_df.iterrows():
    fl.Circle(
    radius=5,
    location=[r['LATITUDE'], r['LONGITUDE']],
    popup=r["TYPE"],
    color="CRIMSON",
    fill=True,
    ).add_to(m2)
for i, r in towers.iterrows():
    fl.Circle(
    radius=50,
    location=[r['Latitude'], r['Longitude']],
    popup=r["SITE_NAME"],
    color="darkblue",
    fill=True,
    ).add_to(m2)

In [34]:
m2.save("NFR2.HTML")